@model eSale.Models.Order

@{
    ViewBag.Title = "Insertorder";
}

<h2>Insertorder新增訂單</h2>


        @ViewBag.Desc1<br />
        @ViewData["desc2"]<br />
        @TempData["Desc3"]

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.OrderDd, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OrderDd)
                @Html.ValidationMessageFor(model => model.OrderDd)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Custld, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("xxxx")
                @Html.TextBoxFor(model => model.Custld)
                @Html.ValidationMessageFor(model => model.Custld)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustName)
                @Html.ValidationMessageFor(model => model.CustName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpId)
                @Html.ValidationMessageFor(model => model.EmpId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmpName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpName)
                @Html.ValidationMessageFor(model => model.EmpName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.orderDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.orderDate)
                @Html.ValidationMessageFor(model => model.orderDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequireDdate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequireDdate)
                @Html.ValidationMessageFor(model => model.RequireDdate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
